<mat-card 
  #beers 
  class="results"
  *ngFor="let beer of beers | paginate: {itemsPerPage: 4, currentPage: p, totalItems: beers?.length }">
    <mat-card-header>
      <mat-card-title> {{beer.name}}</mat-card-title>
      <mat-card-subtitle> {{beer.style_name}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
          <li>
            {{beer.abv / 100 | percent:'1.2'}} ABV
          </li>
          <li>
            Origin: {{beer.brewery_name}}
          </li>
        </ul>
        <p class="description">{{beer.descript}}</p>
  </mat-card-content>

</mat-card>

<mat-card *ngIf="beers">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</mat-card>
