<mat-card class="mat-card-custom">
    <mat-card-content>
        <form 
            [formGroup]="searchForm" 
            (ngSubmit)="submit(); searchForm.reset()">
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="name" 
                    name="name"
                    formControlName="beerName">
            </mat-form-field>
            
            <mat-form-field>
                <input
                    matInput 
                    placeholder="Minimum ABV" 
                    name="minAbv"
                    formControlName="minRange">
            </mat-form-field>
            
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Minimum ABV" 
                    name="maxAbv"
                    formControlName="maxRange">
                </mat-form-field>
            <mat-form-field>
                <mat-select 
                    formControlName="beerType"
                    name="type"  
                    placeholder="Beer Type">
                <mat-option 
                    *ngFor="let type of beerCategories" 
                    [value]="type">{{ type }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card-actions>
                <button 
                    mat-raised-button 
                    type="submit" 
                    name="submit"
                    class="btn btn-success">Search</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>

<app-brew-display [beers]="beers"></app-brew-display>
            
