/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }

